
all-exposure-checks/~$all-exposure-checks.xlsx
hs-koronavirus-avoindata/~$hs-koronavirus-avoindata.xlsm
hs-koronavirus-avoindata/hs-koronavirus-avoindata-v2.xlsm
hs-koronavirus-avoindata/hs-koronavirus-avoindata-v2.png
